body {
    font-family: "Times New Roman", Times, serif;
    background-color: black;
}

h2,h3,h4,p, nav {
    color:white;
    text-align:center;
}

#hello {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 40px;
}

#name-header {
    margin-top: 0px;
    margin-bottom:0px;
    font-size:40px;
}
 
nav ul {
    list-style-type: none;
    display:inline;
}

.navElement {
    font-size: 50px;
}

nav ul li {
    display:inline;
    padding-left:7px;
    padding-right:7px;
}

nav ul li a {
    text-decoration:none;
    color:white;
}

.section-header {
    font-size: 40px;
}

p {
    font-size: 32px;
}

nav ul li a:hover {
    color:#3279a8;
}

.nav-parent {
    text-align:center;
}

.nav-child {
    display:inline-block;
}

#front-picture {
    background-image: url("intro-back.JPG");
    background-size: cover;
    height:0;
    padding-bottom: 56.25%;
    box-sizing: border-box;
    width:100%;
    background-position:30% top;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}

#foot-quote {
    margin-top: 1%;
    margin-bottom:1%;
}

#about-header {
    margin-top:1%;
    margin-bottom:1%;
}

#foot-quote {
    font-size:30px;
}
footer {
    margin-top: 1%;
    text-align:center;
}
.social-buttons {
    height:50px;
}

.nav-bottom-element {
    font-size: 20px;
}

@media screen and (max-width: 778px) {

    .navElement {
        font-size: 25px;
    }

    #foot-quote {
        font-size:20px;
    }

    .social-buttons {
        height:40px;
    }
    
    .nav-bottom-element {
        font-size: 20px;
    }

    .section-header {
        font-size:24px;
    }

    #about-text {
        font-size: 20px;
    }

    #hello {
        margin-top:0px;
        font-size: 20px;
    }

    #name-header {
        margin-bottom:0px;
        font-size:20px;
    }
}

@media screen and (max-width: 476px) {

    nav ul li a {
        font-size: 20px;
    }

    #foot-quote {
        font-size:16px;
    }

    .social-buttons {
        height:30px;
    }
    
    .nav-bottom-element {
        font-size: 20px;
    }

    .section-header {
        font-size:16px;
    }

    #about-text {
        font-size: 14px;
    }

    #hello {
        margin-top:0px;
        font-size: 16px;
    }

    #name-header {
        margin-bottom:0px;
        font-size:16px;
    }
}