.card-head {
    text-align: center;
    padding-top: 20px;
    font-size:40px;
}

body {
    background-color: black;
}

.container-fluid {
    margin-top: 50px;
}


@media (min-width:1024px) {
    .col-lg-auto {
        width:49%;
    }
}
